<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if_elif</title>
</head>
<body>
    <center>
        <h1><button><h1>IF_ELIF</h1></button></h1>
        <h1>a = {{a}}</h1>
        <h1>b = {{b}}</h1>
        <h1>c = {{c}}</h1>
            {% if a > b and a > c %}
                <h1>a is greater than b & c</h1>
            {% elif b > c %}
                <h1>b greater than a & c</h1>
            {% else %}
                <h1>c is greater</h1>
            {% endif %}
    </center>
</body>
</html>